* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    height: 80px;
    width: 100%;
    background: var(--background-color);
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main {
    width: 100%;
    min-height: 60%;
    float: left
}

.footer {
    width: 100%;
    min-height: 80px;
    clear: both;
    background: var(--background-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}