.my__card{
    width: 70%;
    margin: 20px auto;
    font-size: 18px;
    background-color: var(--background-color);
    padding: 20px 30px 20px 10px;
    border: #4d4d4d hidden 3px;
    border-radius: 0.8rem;
    box-shadow: 0 0 5px 5px rgba(101, 100, 100, 0.2);
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-column-gap: 2rem;
    /*Установка высоты строк*/
    /*grid-auto-rows: minmax(300px, auto);*/
}

.my__card__img{
    grid-row: 1/4;
    align-self: center;
    width: 100%;
}

.left__img {
    justify-self: left;
}

.my__card__body {
    justify-self: left;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.my__card__footer{
    justify-self: end;
}

.my__card__title {
    font-size: 20px;
    line-height: 1;
}

.my__card__subtitle {
    font-size: 16px;
}

.text__description{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 1.3em;
    height: 3.9em;
    font-size: 16px;
}

.my__card__text__sm {
    line-height: 1;
}

.my__card__text__sm span {
    font-size: 14px;
    border: 1px hidden black;
    border-radius: 5px;
    margin-right: 3px;
    background-color: #d2d0d0;
    padding: .07rem .15rem;
}