
.button__back {
    position: absolute;
    left: 0;
    margin-left: 15px;
}

.change__button {
    position: absolute;
    right: 0;
    margin-right: 15px;
}

.container__ph_page {
    padding-top: 1rem;
    position: relative;
    --default-font-size: 16px;
    --second-font-size: 18px;
    --header-font-size: 24px;
    --default-color: black;
    --bg-second-color: #e8e4e4;
    --opacity-color: #6b6b6b;
    --fw-bold: 500;
    --border-color: #bdbbbb;
}

.title_housing {
    font-weight: var(--fw-bold);
    font-size: var(--header-font-size);
}

.ph_card_body {
    display: grid;
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
    gap: 2rem;
    color: var(--default-color);
    font-size: var(--default-font-size);
    text-align: left;
    padding: 10px 0;
}

.ph_card_body p {
    padding: 0;
    margin: 0;
}

.ph_address {
    text-align: left;
    font-weight: var(--fw-bold);
    font-size: var(--second-font-size);
}

.ph_categories {
    display: flex;
    gap: 5px;
}

.ph_categories span {
    border: 1px hidden black;
    border-radius: 5px;
    margin-right: 3px;
    background-color: var(--bg-second-color);
    padding: .07rem .15rem;
}

.ph_numbers {
    display: flex;
    align-items: center;
    gap: 3px;
}

.ph_icon {
    font-size: var(--second-font-size);
}

.ph_rating {
    display: flex;
    align-items: center;
    gap: 3px;
}

.ph_rating span {
    color: var(--second-color);
    display: flex;
    align-items: center;
    gap: 3px;
}

.ph_description {
    font-size: var(--second-font-size);
    line-height: 1.3;
}

.container_ph_owner {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.75rem;
    background-color: var(--bg-second-color);
    border-radius: 10px;
}



