.my__input {
    display: block;
    width: 100%;
    height: calc(1.7rem + 2px);
    padding: 0.3rem 0.7rem;
    font-family: inherit;
    font-size: 16px;
    line-height: 1;
    color: #212529;
    background-color: var(--background-color);
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.6rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.my__input:focus {
    color: #212529;
    background-color: #fff;
    border-color: var(--second-color);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25)
}

.input__group {
    text-align: left;
    margin-bottom: 0.2rem;
    width: 100%;
    gap: 0;
    display: grid;
    grid-template-columns: 1fr;
}

.input__label {
    padding-left: 10px;
    font-size: 18px;
}

.error__input {
    text-align: left;
    margin-left: 10px;
    font-size: 12px;
    color: var(--danger-color)
}