.my-btn {
    padding: 0.5rem 0.8rem;
    border-radius: var(--btn-border-radius);
    font-size: var(--btn-font-size);
    transition: background-color 0.3s;
}

.my-btn:hover {
    background-color: var(--btn-bg-color-opacity);
    color: white;
}

.no-link {
    text-decoration: none;
    color: var(--btn-color)
}