.btn__custom_style {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    padding: 0.45rem 0.65rem;
    font-size: var(--btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--btn-border-radius);
    background-color: var(--btn-bg-color);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn__custom_style:disabled {
    background-color: var(--btn-bg-color-disable);
    color: var(--btn-color-disable);
    cursor: default;
}