.slider {
    position: relative;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 300px;
    height: 280px;
    border-radius: 7px;
}

.image-container {
    position: relative;
    display: inline-block;
}

.left-arrow,
.right-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    color: var(--background-color);
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    left: 10px; /* Расположение слева */
}

.right-arrow {
    right: 10px; /* Расположение справа */
}

.slide {
    opacity: 0.5;
    transition-duration: 1s;
}

.slide.active {
    opacity: 1;
    transition-duration: 0.8s;
    transform: scale(1);
}