.container__items {
    position: relative;
    margin-bottom: 10px;
}

.container__items button {
    font-size: 14px;
}

.container__btn__atr {
    display: flex;
    justify-content: end;
}

.selected__atr {
    display: flex;
    align-items: center;
    text-align: left;
    gap: 3px;
    margin-bottom: 4px;
}

.list__label {
    font-size: 16px;
    line-height: 1;
    font-weight: bold;
}

.list__atr {
    display: flex;
    width: auto;
    overflow-x: auto;
    gap: 3px;
}

.item__atr {
    border-radius: 0.3rem;
    background-color: #d2d0d0;
    font-size: 12px;
    padding: 0.2rem 0.4rem;
    display: flex;
    align-items: center;
    line-height: 1;
    max-width: 6rem;
}