.textarea__group {
    width: 100%;
    text-align: left;
    margin-bottom: 0.8rem;
}

label {
    padding-left: 10px;
    font-size: 20px;
}

.textarea__field {
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    border-radius: 0.2rem;
    color: var(--main-color);
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    font-size: 18px;
    box-shadow: 0 0 1px 1px #bdbdbd;
    background-color: var(--background-color);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.textarea__field:focus {
    border: var(--second-color) solid 2px;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(158, 158, 158, 0.25)
}