:root {
  font-family: Palatino, URW Palladio L, serif;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 400;

  /*btn consts*/
  --btn-font-size: 24px;
  --btn-border-radius: 0.4rem;
  --btn-bg-color: var(--second-color);
  --btn-color: #f5f5f5;

  --default-font-size: 24px;
  --default-font-color: #242424;

  --bg-color-menu: #f5f5f5;


  --background-color: #f5f5f5;
  --main-color: #242424;
  --second-color: #ff8800;
  --danger-color: #e31010;

  color-scheme: light dark;
  color: var(--main-color);
  background-color: var(--background-color);
}
