.layout__moderator {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.layout__moderator > * {
}

.main_content {
    max-height: 90vh;
    overflow-y: auto;
}

.aside__menu {
    height: 90vh;
}

.layout__requests {
    width: 100%;
}

.nav__requests {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: var(--header1-font-size);
}

.nav__requests a {
    text-decoration: none;
}

.main {
    overflow-y: auto;
    max-height: 90vh;
}