.container_brone {
    padding: 1rem;
    width: 100%;
    height: auto;
    font-size: var(--second-font-size);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 0 0 .4em gray;
}

.price {
    text-align: left;
}

.price span {
    font-size: var(--second-font-size);
    font-weight: var(--fw-bold);
}

.container_buy_form {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
    border: 1px solid var(--border-color);;
    margin-top: 1rem;
}

.field_buy_form {
    outline: none;
    border: none;
    width: auto;
    color: var(--color);
    background-color: var(--bg-color);
    font-size: var(--default-font-size);
}

.datepicker_buy_form {
    width: 100%;
}

.first_datepicker {
    border-right: 1px solid var(--border-color);
}

.field_container {
    padding: .5rem .35rem .2rem .35rem;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    align-items: start;
}

.number_buy_form {
    grid-column: 1/3;
    text-align: center;
    gap:5px;
}

.number_buy_form input {
    width: 100%;
    font-size: var(--second-font-size);
}

.field_label {
    font-size: 10px;
    line-height: 0.1;
    color: var(--opacity-color)
}

.btn_buy_form {
    width: 100%;
    margin-top: 0.5rem;
}

.container_prices {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.price_one {
    display: flex;
    justify-content: space-between;
    font-size: var(--default-font-size);
}

.container_total_price {
    display: flex;
    justify-content: space-between;
    font-size: var(--second-font-size);
    font-weight: var(--fw-bold);
}