.select__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: auto;
}


.select {
    height: auto;
    padding: .1rem .2rem;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--bg-color-select);
    color: var(--main-color);
    outline: 2px solid var(--bg-color-select);
}

.custom__select:focus {
    outline: 2px solid var(--bg-border-color-select);
}